<div class="box">
  <% if @roadmap_json.present? %>
    <h1><%= @roadmap_json["title"] %></h1>
  <% end %>
</div>

<div class="box mt-4">

  <%= turbo_frame_tag "messages", data: { controller: "scroll", action: "turbo:before-stream-render->scroll#scroll" } do %>
    <%= render @chat.messages %>
  <% end %>
</div>

<div class="box-form mt-4">
  <%= turbo_frame_tag "new_message" do %>
    <%= render "messages/form", chat: @chat %>
  <% end %>
  <% if @roadmap_json %>
    <div class="mt-4">
      <%= button_to "Save Roadmap",
        save_roadmap_chat_path(@chat),
        method: :post,
        class: "button-box" %>
    </div>
  <% end %>
</div>
