<div class="box my-5">
  <%= simple_form_for @plans, html: { data: { controller: "submit-spinner", action: "submit->submit-spinner#submit" } } do |f| %>

    <%= f.input :theme, label: 'Category', required: true, prompt: "Choose from the list", collection: ['Couple', 'Family', 'Friends', 'Solo'] %>
    <%= f.input :number_persons, label: 'How many people', required: true, placeholder: "1,2,3..." %>
    <%= f.input :city, label: 'Enter the city', required: true, placeholder: 'New York' %>
    <%= f.input :context, label: 'Describe your need', required: true, placeholder: 'I would like to organise a night out with a couple of friends...' %>
    <%= f.input :event_lenght, label: 'Time duration', required: true, prompt: 'Choose from the list', collection: ['Morning', 'Afternoon', 'Evening', 'Day', 'Week-end'] %>
    <%= f.input :roadmap_date,
                as: :string,
                input_html: { type: "date" },
                label: "When is your event happening",
                required: true %>

    <button type="submit"
      class="button-box"
      data-submit-spinner-target="button">
      <span data-submit-spinner-target="text">Ask to AI</span>
      <span data-submit-spinner-target="spinner" style="display:none;"></span>
    </button>

  <% end %>
</div>

