<div class="box">
 <div class="show-title">
       <p><%= @plan.title %></p>
     </div>
     <div class="division-show">
       <h2>Details of your plan:</h2>
       <p> <%= @plan.theme %></p>
       <p><%= @plan.pricing %></p>
       <p> <%= @plan.number_persons %></p>
       <p> <%= @plan.city %></p>
       <p> <%= @plan.context %></p>
       <p> <%= @plan.event_lenght %></p>
       <p> <%= @plan.roadmap_date %></p>
      </div>

 <% if @plan.roadmap %>
  <div class="division-show">
      <h2>Your plan:</h2>
      <p><%= raw(render_markdown(@plan.roadmap)) %></p>
  </div>
<% end %>
  <div class="d-flex" style="justify-content: space-between">
       <%= link_to "Back", plans_path, class: "button-box" %>
       <%= link_to "Edit", "#", class: "button-box" %>
       <%= link_to "Delete", "#", class: "button-box" %>
  </div>

</div>
