<!DOCTYPE html>
<html style="background-color: #150050";>
  <head>
    <title>EventTogo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body style="background-color: #150050";>
    <%= link_to "Skip to main content", "#main-content", class: "visually-hidden-focusable" %>
    <header>
      <%= render "shared/navbar" %>
    </header>

    <main id="main-content">
      <div class="lewagon">
    <%= yield %>
  </div>
    </main>
    <%= render "shared/flashes" %>
  </body>
</html>
